* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #bfd7ea;
  color: #294c60;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0.5px;
}

.title {
  font-size: 25px;
  padding: 20px;
}

.smallTitle {
  font-size: 23px;
  padding: 20px;
}

.or {
  font-size: 20px;
  padding: 10px;
}

.formDiv {
  padding: 10px;
}

input {
  text-transform: uppercase;
  text-align: left;
  border: 1px solid #001b2e;
  border-radius: 5px;
  background-color: #ffefd3;
  padding: 5px 5px;
  box-shadow: inset 0 5px 6px #0000001a;
  width: 200px;
  height: 40px;
  font-size: 18px;
  margin: 5px;
  font-family: 'Nunito', sans-serif;
}

.btn {
  padding: 10px 10px 7px;
  margin: 0px 10px;
  background-color: #ffc49b;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #294c60;
  cursor: pointer;
  user-select: none;
  -webkit-box-shadow: 1px 1px 4px 2px #000000bf;
  -moz-box-shadow: 1px 1px 4px 2px #000000bf;
  box-shadow: 1px 1px 4px 2px #000000bf;
  font-family: 'Nunito', sans-serif;
}

.btn:hover {
  background-color: #e08e54;
  color: #fff;
}

.btn:active {
  -ms-transform: translateY(1px);
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  -webkit-box-shadow: 1px 1px 4px 0px #000000bf;
  -moz-box-shadow: 1px 1px 4px 0px #000000bf;
  box-shadow: 1px 1px 4px 0px #000000bf;
}

.smallContainer {
  position: relative;
}

.exContainer {
  padding: 20px;
}
.slide {
  position: relative;
  left: -100%;
  color: #b80c09;
  font-size: 20px;
  -webkit-animation-name: slide;
  animation-name: slide;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes slide {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}

@-webkit-keyframes slide {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}

.smallText {
  padding: 10px;
}

/* LOADER*/
.loader {
  width: 200px;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 50%;
  margin-top: -100px;
  width: 200px;
  z-index: 99;

  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo {
  position: absolute;
  width: 200px;
  bottom: 0;
  left: 0;
  padding: 10px;
}

.logoPic {
  width: 100%;
  opacity: 0.5;
}

.logoText {
  position: absolute;
  font-family: 'Lobster', cursive;
  top: 45px;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0.5;
  color: #000;
}
